@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Oskar Kronosjö<br />
    Hildur Ottelinsgatan 1b<br />
    <abbr title="Phone"></abbr>
    Phone 0707-56 66 974
</address>

<address>
    <strong>Developer</strong>   <a href="mailto:oskar.kronosjo@gmail.com">Email Oskar</a><br />
</address>